@media only screen and (max-width: 320px) {

#nav {
	//border-style: solid;
	border-top: solid;
	border-bottom: solid;
	border-width: 2.5px;
	height: 70px;
}

div#nav h{
	margin: 10px;
	display: block;
	margin-left: 25px;
	color: purple;
}

}

@media only screen and (min-width: 320px) {

#nav {
	//border-style: solid;
	border-top: solid;
	border-bottom: solid;
	border-width: 2.5px;
	height: 20px;
}

div#nav h{
	margin-left: 50px;
	color: purple;
}

}

.image {
	display: inline-block;
	//border-style: solid;
	width: 150px;
	height: 150px;
	margin-left: 10px;
}

.name {
	display: inline-block;
	//border-style: solid;
	vertical-align: bottom;
	font-size: 24px;
} 

#body {
	//border-style: solid;
}

div#body p{
	margin-left: 20px;
}

@media only screen and (max-width: 767px) {

.text{
	display: block;
	vertical-align: top;
	width: 95%;
}

div.text p{
	display: block;
}

div.box {
	margin-top: 25px;
	margin-bottom: 25px;
	background: red;
	border-style: solid;
	width: 95%;
}

div.box p{
	text-align: center;
}

input {
  width: 95%;
}

div#body button{
	margin-top: 25px;
	margin-bottom: 25px;
	width: 95%;
	text-align: center;
}

}

@media only screen and (min-width: 767px) {

.text{
	display: inline-block;
	vertical-align: top;
	//border-style: solid;
	width: 80%;
}

div.text p{
	display: block;
	margin: 20px;
}

div.box {
	margin: 20px;
	background: red;
	border-style: solid;
	width: 75%;
}

div.box p{
	text-align: center;
}

input {
  width: 75%;
  margin-left: 20px
}

div#body p{
	margin-left: 20px;
}

div#body button{
	margin-left: 25px;
}

}